<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="color: #e50914;">LifeInk</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/compose" style="color: #f5f5f1;">COMPOSE</a></li>
          <li id="home"><a href="/blog" style="color: #f5f5f1;">BLOGS</a></li>
          <li id="about"><a href="/signup" style="color: #f5f5f1;">SUBSCRIBE</a></li>
          <li id="signup"><a href="/" style="color: #f5f5f1;">LOGOUT</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
