<%- include('partials/headersecret') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="/images/logo2.png" alt="" width="12%">
    <h1 class="display-3" style="text-shadow: 1px 1px 2px #b81d24; color:#221f1f;">LifeInk: Where Stories Flow</h1>
    <p class="lead" style="color: #221f1f;;">Uncover, Inspire, and Thrive: Where Curiosity Meets Knowledge</p>
    <hr style="background-color: #b81d24;">
    <a class="btn btn-light btn-lg" href="/register" role="button" style="box-shadow: 7px 7px 5px #b81d24; margin-right:7px; background-color: #221f1f; color:#f5f5f1;" >Register</a>
    <a class="btn btn-light btn-lg" href="/login" role="button" style="box-shadow: 7px 7px 5px #b81d24; background-color: #221f1f; color:#f5f5f1;">Login</a>

  </div>
</div>

<%- include('partials/footersecret') %>
